
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
html{
    scroll-behavior: smooth;
    
}
/* body{
    
} */
h1, h2, h3{
    font-family: 'EB Garamond', serif;
}
th{
    font-weight: 500;
}
.contain{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* @media (min-width: 768px){
    .contain{
        width: 750px;
    }
}
 @media (min-width: 992px){
    .contain{
        width: 970px;
    }
 }
 @media (min-width: 1200px){
    .contain{
        width: 1170px;
    }
 } */
 ::selection{
    background-color: var(--main-color);
    color: white;
}
